body {
    background-color: #222;
    color: white;
    margin: 0;
    font-family: sans-serif;
}
.contacts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contacts li {
    display: table;
    padding: .25em;
}
.contacts li>* {
    display: table-cell;
    vertical-align: middle;
    transition: 1s;
}
.contacts .avatar  {
    margin: 0;
    padding-right: 1em;
}
.contacts .avatar img {
    height: 3em;
}
.contacts .avatar .status {
    width: 0.4em;
    height: 0.4em;
    display: inline-block;
    border-radius: 0.4em;
    margin-left: -1em; 
}
.contacts .info > span {
    display: table-row;
}
.contacts .action {
    padding:0 3em;
}
.contacts .action a.add {
    text-decoration: none;
    background-color: #111;
    color: #ddd;
    display: block;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 2em;
}
.contacts .action a.add:hover {
    background-color: #151515;
    color: white;
}
.contacts .add-details a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
}
.contacts .add-details a:hover {
    color: rgb(0, 255, 0);
}
.contacts .add-details > div {
    /*display: none;*/
    /*opacity: 0;*/
    width: 0;
    transition: 1.5s;
    overflow: hidden;
    white-space: nowrap;
}
.contacts li:target .add-details > div {
    /*display: table-cell;*/
    /*opacity: 1;*/
    width: 100%;
}
.contacts li:target > * {
    transform: translateX(-15em) ;
}

/*----hw3--------------------------------------*/
.contacts .menu a, .report a {
    color: white;
    text-decoration: none;
    padding-right: 0.5em;
    display: inline-block;
}
.contacts .menu a:hover {
    color: rgb(0, 255, 0);
}
.contacts .report > div {
    opacity: 0;
    margin-left: -10em;
    transform: translateX(-10em); 
    transition: 1s;
  }
  .contacts .report > div a:hover {
    color: rgb(0, 255, 0);
  }
  .contacts #contact-2:target .report > div {
    opacity: 1;
    margin-left: 0em;
    transform: translateX(0); 
  }
/*----------------------------------------------*/


.status.off {
    border: 1px solid #777;
    background-color: #444;
}
.status.on {
    border: 1px solid green;
    background-color: lightgreen;
}
